@import "index";
.about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    img {
        width: 200px;
        height: 200px;
        object-fit:cover;
        border-radius: 50%;
    }
    .links{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .res{
        background-color: transparent;
        vertical-align: middle;
    }
}
.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        margin-bottom: 0;
    }
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
.cols{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    justify-content: center;
}
.col{
    .title{
        margin-bottom: 50px;
    }
    li{
        font-size: 18px;
        margin-bottom: 10px;
        list-style-type: none;
        color: #fa1919;
    }
}
.material{
    p{
        font-size: xx-large;
        margin-bottom: 2%;
    }
}
.artists{
    color: #fa1919;
    transition: all .4s ease-out;
}
.artists:hover{
    color: #f4e5e5;
    transition: all .4s ease-out;
}