//general animation on visibilty in viewport
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
//developer details
.details{
    max-width: 1000px;
    h1{
        font-size: 50px;
        font-weight: 800;
    }
    .abtdes{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: large;
    }
}
.skillsdes{
    p{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: larger;
        font-weight: 700;
    }
    li{
        font-size: larger;
        color: #fa1919;
    }
}
.links{
    display: flex;
    align-items: center;
    gap: 14px;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        p{
            background-color: inherit;
        }
        .res{
            background-color: inherit;
        }
    }
}
//made with 
.cols{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,auto));
    justify-content: center;
}
.col{
    .title{
        margin-bottom: 50px;
        font-size: xx-large;
    }
    li{
        font-size: 18px;
        margin-bottom: 10px;
        list-style-type: none;
        color: #fa1919;
    }
}
.material{
    p{
        font-size: xx-large;
        margin-bottom: 2%;
    }
}
.artists{
    color: #fa1919;
    transition: all .4s ease-out;
}
.artists:hover{
    color: #f4e5e5;
    transition: all .4s ease-out;
}
.skillcol{
    list-style-type: none;
    padding: 10px;
}
ul{
    padding: 0;
    box-sizing: border-box;
}
li{
    text-align: center;
}
@media only screen and (max-width:800px){
    .details h1{
        text-align: center;
    }
    .links{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .abtdes{
        padding: 40px;
    }
    .skillsdes p{
        padding: 40px;
    }
}