
.firstcard{
    background-image: url(../assets/jelly.png);
    background-position: center center;
    background-size: 60%;
    background-blend-mode:hard-light;
    background-repeat: no-repeat;
    div{
        text-align: center;
    }
    
}
@media only screen and (min-width:801px){
    .content{
        background-color: transparent;
        h1{
            font-weight: bold;
            font-size: 50px;
            background-color: transparent;
        }
        p{
            font-size: 30px;
            background-color: transparent;
        }
    }
}
@media only screen and (max-width:800px){
    .content h1{
        background-color: transparent;
        font-size: 50px;
    }
    .content p{
        font-size: 30px;
        padding: 20px;
        background-color: transparent;
    }
    .content{
        background-color: transparent;
    }
}
