.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;

    .header{
        font-size: larger;
    }

    .navlinks{
        display: flex;
        gap: 3vh;
        text-decoration: none;
        font-size: large;
        a{
            text-decoration: none;
            color: #e51414;
            transition: all .4s ease-out;
        }
        a:hover{
            color: #f4e5e5;
            transition: all .4s ease-out;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
    }
} 
