.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;

    .header{
        font-size: larger;
    }

    .navlinks{
        display: flex;
        gap: 3vh;
        text-decoration: none;
        font-size: large;
        a{
            text-decoration: none;
            color: #e51414;
            transition: all .4s ease-out;
        }
        a:hover{
            color: #f4e5e5;
            transition: all .4s ease-out;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
    }
} 
.mobnav{
    display: none;
}

@media only screen and (max-width: 800px){
    .navbar{
        display: none;
    }
    .mobnav{
        position: fixed;
        z-index: 1;
        bottom: 0;
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobnavlink{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
