@import "index";
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    img{
        width: 800px;
        border-radius: 10px;
    }
    border-top: 1px solid $text-color;
    margin-left: 2%;
    margin-right: 2%;
    padding-top:20px;
    margin-top:20px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    h2{
        font-weight: bolder;
        font-size: 30px;
    }
}
img{
    border: 2px solid $text-color;
    padding: 7px;
}
a{
    text-decoration: none;
    color: inherit;
}